body{font-family: 'Poppins', sans-serif;
    margin: 0;
   }
   h1{
       font-size: 50px;
   }
  .orange{
      color: orange;
  }
  section{
      display: flex;
      margin-bottom: 100px;
  }
  .half{
      width: 50%;
      padding-left: 2%;
  }
  .half img {
      width: 80%;
  }
  .link{
      text-decoration: none;
      background-color:orange;
      padding: 10px 40px;
      border-radius: 5px;
      background-image: linear-gradient(orange tomato);
      color:white;
      font-weight: 700;
      }
      .banner{
          background-image: url(images/top-banner.png);
          background-repeat: no-repeat;
          
      }
      .dream{background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;

      }